.form {
    padding: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--orange);
    padding: 40px 32px 20px;
    margin: 0 auto;
    max-width: 522px;
    border-radius: 12px;
    box-sizing: border-box;
}

.form-title {
    margin: 0;
    font-size: 44px;
    line-height: 58px;
    color: var(--white);
    margin-bottom: 12px;
    font-weight: 900;
}

.form-subtext {
    margin-bottom: 20px;
    font-size: 16px;
}

.form-subtext-smaller {
    margin: 20px 0;
    font-size: 12px;
}

@media all and (max-width: 640px) {
    .form-container {
        padding: 40px 24px 10px;
    }

    .form-title {
        font-size: 32px;
        line-height: 40px;
    }
}
