.package-notification-signup {
    padding: 16px;
}

.package-notification-signup .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--orange);
    padding: 40px 32px 20px;
    margin: 0 auto;
    max-width: 522px;
    border-radius: 12px;
    box-sizing: border-box;
}

.package-notification-signup .form-title {
    margin: 0;
    font-size: 44px;
    line-height: 58px;
    color: var(--white);
    margin-bottom: 12px;
    font-family: 'MuseoSansRounded';
}

.package-notification-signup .form-subtext {
    margin-bottom: 20px;
    font-size: 16px;
}

.package-notification-signup .form-subtext-smaller {
    margin: 0px 0 20px 0;
    font-size: 12px;
}

@media all and (max-width: 640px) {
    .package-notification-signup .form {
        padding: 40px 16px 10px;
    }

    .package-notification-signup .form-title {
        font-size: 32px;
        line-height: 40px;
    }
}
