.header {
    background-color: var(--orange);
}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 10px 24px;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.routes {
    display: flex;
    justify-content: space-between;
    width: 617px;
}

.mobile-routes {
    display: none;
}

@media all and (max-width: 1024px) {
    .routes {
        display: none;
    }

    .mobile-routes {
        display: block;
    }
}
