.footer {
    display: flex;
    align-items: center;
    height: 246px;
    background-color: var(--black);
}

.footer-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
    max-width: 1440px;
    padding: 10px 24px;
    margin: 0 auto;
    color: var(--white);
    box-sizing: border-box;
}

.footer-email p {
    display: flex;
    align-items: center;
}

.footer-title {
    font-weight: 700;
}

.footer-location p {
    display: flex;
    align-items: center;
}

.footer-department,
.footer-detail {
    margin-left: 12px;
}

.footer-address {
    margin-left: 40px;
}

.footer-social {
    text-align: center;
    font-weight: 700;
}

.footer-social-networks {
    width: 189px;
    margin: 20px auto 0;
    display: grid;
    justify-items: center;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
}

.footer-social .footer-title {
    width: 100%;
    margin: 0 auto;
}

@media all and (max-width: 1280px) {
    .footer {
        padding: 10px 24px;
    }
}

@media all and (max-width: 1024px) {
    .footer-logo {
        margin: 0 auto 40px;
    }

    .footer-container {
        padding: 10px 24px;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-location,
    .footer-email {
        display: none;
    }
}

@media all and (max-width: 640px) {
   
}
