.track-package {
    position: relative;
}

.track-package-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 24px;
    box-sizing: border-box;
}

.track-package-title {
    font-size: 44px;
    font-family: 'MuseoSansRounded';
    max-width: 517px;
    margin-bottom: 40px;
}

.track-form {
    max-width: 386px;
    margin: 0 auto;
    background-color: var(--orange);
    padding: 20px;
    border-radius: 12px;
    color: var(--white);
    box-sizing: border-box;
}

.track-package-subtext {
    margin-bottom: 20px;   
}

.representative {
    height: 100%;
    margin-left: 100px;
}

@media all and (max-width: 1024px) {
    .representative {
        display: none;
    }

    .track-package-title {
        text-align: center;
    }

}

@media all and (max-width: 768px) {
    .track-package-container {
        padding: 52100 52px;
    }
}

@media all and (max-width: 640px) {
    .track-package-container {
        padding: 52px 24px;
    }
}