.track-package {
    position: relative;
}

.track-package-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.track-package-title {
    text-align: center;
    font-size: 44px;
    font-weight: 800;
}

.track-form {
    max-width: 386px;
    margin: 0 auto;
    background-color: var(--orange);
    padding: 20px;
    border-radius: 12px;
    color: var(--white);
    box-sizing: border-box;
}

.track-package-subtext {
    margin-bottom: 20px;   
}

.representative {
    height: 100%;
    margin-left: 100px;
}

@media all and (max-width: 1024px) {
    .representative {
        display: none;
    }

}