.track-order-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
}

.track-order-title {
    text-align: center;
    font-size: 44px;
}

.track-form {
    max-width: 386px;
    margin: 0 auto;
    background-color: var(--orange);
    padding: 20px;
    border-radius: 12px;
    color: var(--white);
    box-sizing: border-box;
}

.track-package-subtext {
    margin-bottom: 20px;   
}

.track-package-input-container {
    width: 100%;
    display: grid;
    row-gap: 20px;
}

.track-package-input-container {
    position: relative;
}

.track-package-input-container {
    margin-bottom: 20px;
}

.track-package-input-container input {
    padding-left: 44px;
}

.track-package-input-container svg {
    position: absolute;
    top: 16px;
    margin-left: 16px;
}

.representative {
    height: 100%;
    margin-left: 100px;
}

@media all and (max-width: 1024px) {
    .representative {
        display: none;
    }

    .track-order-container {
        padding: 20px 20px;
    }
}