.form {
    padding: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--orange);
    padding: 40px 32px 10px;
    margin: 0 auto;
    max-width: 522px;
    border-radius: 12px;
    box-sizing: border-box;
}

.form-title {
    margin: 0;
    font-size: 44px;
    line-height: 58px;
    color: var(--white);
    margin-bottom: 12px;
}

.form-subtext {
    margin-bottom: 20px;
    font-size: 16px;
}

.form-subtext-smaller {
    margin-top: 20px;
    font-size: 12px;
}

.input-container {
    width: 100%;
    display: grid;
    row-gap: 20px;
}

.form-button {
    cursor: pointer;
    margin-left: auto;
    font-size: 14px;
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--white);
    background-color: var(--black);
    outline: none;
    border: 0;
    height: 40px;
    border-radius: 4px;
}

@media all and (max-width: 640px) {
    .form-container {
        padding: 40px 24px 10px;
    }

    .form-title {
        font-size: 32px;
        line-height: 40px;
    }
}
