:root {
    --orange: #ff7500;
    --lightorange: #ff750010;
    --black: #414141;
    --lightblack: #969490;
    --white: #fff;
}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('./assets/fonts/MuseoSansRounded900.otf') format('opentype');
}

@font-face {
    font-family: 'SimplySans';
    src: url('./assets/fonts/SimplySans-BoldItalic.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
}

.header-logo,
.footer-logo {
    max-width: 252px;
    max-height: auto;
}

input {
    border-radius: 4px;
    padding: 16px;
    border: 0;
    outline: none;
    min-width: 0;
}

/* hide SPIN BUTTONS from input type="number"*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    cursor: pointer;
}

@media all and (max-width: 640px) {
    .header-logo,
    .footer-logo {
        max-width: 200px;
        max-height: auto;
    }
}
